version: 2
jobs:
  build:
    working_directory: ~/dropwizard-opencensus
    docker:
      - image: adoptopenjdk/maven-openjdk8
    steps:
      - checkout
        #- restore_cache:
        #  key: dropwizard-opencensus-{{ checksum "pom.xml" }}
        #- run: mvn dependency:go-offline
        #- save_cache:
        #  paths:
        #    - ~/.m2
        #  key: dropwizard-opencensus-{{ checksum "pom.xml" }}
      - run: mvn test jacoco:report-aggregate package
      - run:
          name: gather test results
          command: |
            mkdir -p ~/test-results/junit/
            mkdir -p ~/test-results/jacoco/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/junit/ \;
            cp -Rp target/site/jacoco-aggregate/* ~/test-results/jacoco/
          when: always
      - store_test_results:
          path: ~/test-results
